/* Global styles */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.content-wrap {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

img {
  width: 100%;
  height: 500px;
}

/* Header styles  */

.umbrella {
  position: relative;
  display: flex;
  align-items: center;
  height: 520px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
}

/* Main styles */

/* Product styles */

/* Footer styles */
