/* COLOR-LIST:

White: #FFFFFF
Light-green: #607345
Dark green: #51731F
Darkest blue/black: #031C26
Dark blue: #0A2740
Grey: #474747
Light-blue: #6A7EA6 
Light-grey: #EBEBEB
*/

/* Global styles */
html {
  font-family: "Roboto", Arial, sans-serif;
  max-width: 2000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.align-center {
  text-align: center;
}

/* Header styles */

.logo {
  background-image: url("/images/umbrella3.png");
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 20em;
}
.background-search {
  background-color: #031c26;
  padding: 2em;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 100%;
  height: 1em;
}

.background-search i {
  color: white;
  scale: 150%;
  display: flex;
}

.search {
  max-width: 300px;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.search input {
  min-width: 500px;
  height: 30px;
  border-radius: 20px;
  border: none;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.search i {
  position: absolute;
  top: 23.1em;
  color: #031C26;
  display: flex;
  margin-left: 1em;
}

/* .search {
  background-color: #031c26;
  padding: 2em;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  max-width: 100%;
}

.search input {
  min-width: 500px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

.search .shopping-cart {
  color: white;
  scale: 170%;
  position: relative;
  left: 18em;
  top: 0.5em;
}

.search .search-icon i {
  position: absolute;
  left: 25em;
  top: 20em;
  color: #031c26;
  scale: 150%;
}

.search img {
  scale: 70%;
} */

.navigation {
  list-style-type: none;
  background-color: #ebebeb;
  padding: 14px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.15);
}

.navigation li {
  display: inline;
}

.navigation li a {
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color: #031C26;
  font-weight: 500;
}

.navigation li a:hover {
  background-color: #031c26;
  color:white;
}

.dropdown {
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: auto;
}

.color,
.price,
.brand {
  position: relative;
}

.color ul,
.price ul,
.brand ul {
  position: absolute;
  background-color: #474747;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0px;

  flex-direction: column;
  list-style: none;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition-duration: 0.3s;
}

.color a,
.price a,
.brand a {
  color: white;
  text-decoration: none;
}

.dropdown button {
  background: #031c26;
  color: white;
  border: none;
  padding: 1em;
  border-radius: 2em;
  width: 10em;
  height: 3em;
  font-size: 0.8em;
  font-weight: bold;
}

.dropdown button:hover {
  background-color: white;
  color:black;
}

.price li,
.color li,
.brand li {
  background: #031c26;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price li:hover,
.color li:hover,
.brand li:hover {
  background-color: #51731f;
}

.price button:focus + ul,
.color button:focus + ul,
.brand button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px;);
}

.under-navigation {
  background-image: url(/images/hikingbanner2.png);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 12em;
}

.under-navigation h1 {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px grey;
  font-size: 3em;
  position: relative;
}

.under-navigation .dropdown {
  margin: 0 auto;
  position: relative;
  top: 1.8em;
  float: left;
}

.sort {
  display: flex;
  text-align: right;
  justify-content: right;
}

.sort button {
  border-radius: 10px;
  width: 10em;
  margin: 1em;
  border: none;
  background-color: #ebebeb;
}

.left-sort {
  float: left;
  width: 300px;
  margin-top: 16px;
  margin-right: 2em;
  color: #474747;
  margin-left: 1em;
}

.left-sort hr {
  border-top: 0.2px #707070;
  margin-top: 2em;
  margin-bottom: 2em;
}

.jacket-list li {
  color: black;
  list-style: none;
  font-weight: 500;
  margin-top: 1em;

}

.jacket-list ul {
  text-align: left;
  justify-content: left;
  padding: 0px;
}


/* Main styles */

/* ///////// INDEX PAGE STYLES //////////// */

.banner {
  background-image: url(/images/mountainyesyes.png);
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 20em;
  margin: 0 auto;

}

.banner img {
  max-width: 100%;
}

.banner h1 {
  margin: 0;
  top:1em;
  text-align: center;
  justify-content: center;
  font-size: 3em;
  color: #031c26;
  position: relative;
  font-weight: normal;
}

.banner span {
  font-weight: 500;
  display:flex;
  justify-content: center;
}


.banner .inspo-button {

  background-color: #031c26;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  text-decoration: none;
  color: white;
  border-radius: 1.2em;
  border: none;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 10em;

  

}


/* ///// BREADCRUMB STYLES ////// */

.breadcrumb-black {
  justify-content: center;
  text-align: center;
  color: #031c26;
  max-width: 230px;
  border-radius: 0px 0px 8px 0px;
}

.breadcrumb-black ul {
  display: flex;
  list-style: none;
  padding: 0.7em 1em;
  margin: 0px;
}

.breadcrumb-black li {
  display: inline;
  font-size: 1em;
  font-weight: bold;
}

.breadcrumb-black ul li + li:before {
  padding: 8px;
  color: #031c26;
  content: "/\00a0";
}

.breadcrumb-black ul li a {
  color: #031c26;
  text-decoration: none;
  margin: 0px;
}

.breadcrumb-black ul li a:hover {
  color: #6a7ea6;
  text-decoration: underline;
}

.breadcrumb {
  justify-content: center;
  text-align: center;
  color: white;
  max-width: 230px;
  border-radius: 0px 0px 8px 0px;
}

.breadcrumb ul {
  display: flex;
  list-style: none;
  padding: 0.7em 1em;
  margin: 0px;
}

.breadcrumb li {
  display: inline;
  font-size: 1em;
  font-weight: bold;
}

.breadcrumb ul li + li:before {
  padding: 8px;
  color: white;
  content: "/\00a0";
}

.breadcrumb ul li a {
  color: white;
  text-decoration: none;
  margin: 0px;
}

.breadcrumb ul li a:hover {
  color: #6a7ea6;
  text-decoration: underline;
}

/* //////// SHOPPING CART BANNER /////// */

.shoppingcart-banner {
  background: #031c26;
  color: white;
  display: flex;
  padding: 2em;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.shoppingcart-banner span {
  font-size: 3em;
  font-weight: bold;
  display: block;
  justify-content: center;
  text-align: center;
}

.shoppingcart-banner p {
  justify-content: space-between;
  width: 50%;
  display: block;
}

.shoppingcart-banner hr {
  color: white;
}

/* ////// PRODUCT CARD STYLES ///// */

.product-list {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 100%;

}


.product-list .card {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  box-shadow: 20px 20px 20px -18px rgba(176,176,176,0.82);
  text-align: center;
  min-height: 260px;
  margin-top: 10px;
  width: 230px;
  border: solid 1.5px #ebebeb;
}

.card .title {
  font-size: 14px;
  font-weight: normal;
  margin-top: 0.5em;
}

.card .text {
  font-size: 18 px;
  font-weight: bold;
}

.card .price {
  font-weight: bold;
  color: #51731f;
  font-size: 20px;
  margin-top: 0.3em;
  margin-bottom: 1em;
}
.card img {
  max-width: 100%;
}

.details-button {
  background-color: #031C26;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  color: white;
  border-radius: 2em;
  border: none;
  font-weight: 500;
  font-size: 14px;
}

.details-button:hover {
  box-shadow: 0px 2px 2px rgb(159, 160, 161);
  background-color: #51731f;
}

/* //// PRODUCT STYLES //////// */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  justify-content: center;
  text-align: center;
  
}

.product-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product-image-container {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  box-shadow: 0px 4px 4px rgb(159, 160, 161);
  text-align: center;
  height: 460px;
  width: 40%;
  margin-top: 10px;
  border: 20px black;
}

.product-image-container img {
  max-width: 100%;
}

.product-description-container {
  background-color: grey;
  border-radius: 20px;
  padding: 1em;
  box-shadow: 0px 4px 4px rgb(159, 160, 161);
  text-align: center;
  height: 460px;
  width: 40%;
  margin-top: 10px;
  border: 20px black;
}

/* //// SUBSCRIBE BANNER ////// */

.subscribe-banner {
  background-image: url(/images/snow5.png);
  background-size: cover;
  max-width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 70px;
}

.subscribe-banner h2 {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 2px;
  padding: 0px;
  margin-top:0;
  display:flex;
  justify-content: center;
  position: relative;
  top: 0.8em;
  
  
}

.subscribe-banner p {
  font-weight: 500;
  letter-spacing: 2px;
  padding: 0px;
  margin: 0px;
  position: relative;
  display:flex;
  justify-content: center;
  margin: 2em;
  font-size: 20px;
}

.subscribe-banner span {
display: flex;
justify-content: center;
position: relative;
top: 1.3em;
}

.subscribe-banner input {
border-radius: 1.2em;
border: none;
justify-content: center;
text-align: center;
position: relative;


}
input[type="email"] {
  width: 35em;
  height: 2.8em;
  padding-right: 50px;
  text-align: left;
}

input[type="submit"] {
  margin-left: -96px;
  height: 2.5em;
  width: 95px;
  background: #51731f;
  color: white;
  border: 0;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 0.8em;
}


/* /////// ABOUT US PAGE ////// */

.banner-aboutus {
  background-image: url(/images/mountainaboutus2.png);
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  text-align: center;
  height: 0 auto;
}

.banner-aboutus h1 {
  color: white;
  font-size: 6em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.banner-aboutus img {
  scale: 90%;
  margin-top: 50px;
  max-width
}


.about-content {
  text-align: left;
  max-width: 60em;
  letter-spacing: 2px;
  font-weight: 100;
  justify-content: center;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  
}
.about-content h2 {
  margin-bottom: 2em;
}

.about-content h4 {
  margin-top: 4em;
font-style: italic;
font-weight: normal;
}

/* //////// CONTACT INFORMATION /////// */

.contactush1 {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color:#031c26;
  font-size: 3.5em;
  position: relative;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}


.contact-information {
  display: flex;
  background-color: #031C26;
  color:white;
  width: 80%;
  border: none;
  border-radius: 1em;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

.contact-information .left-info {
  text-align: left;
  margin-left: 3em;
  margin-bottom: 3em;
}
.contact-information .left-info h2 {
  margin-bottom: 1em;
  display: flex;
}

.contact-information .left-info p {
  margin: 0;
}


.contact-information .middle-info {
text-align: left;
position: relative;
left: 10em;
margin-top: 3.5em;


}

.contact-information .middle-info p i {
  color: #6a7ea6;
  margin-right: em;
  height: 16px;
  width: 16px;
  text-align: center;
  justify-content: center;
}

.contact-information .mapmarker {
  scale: 600%;
  padding: 0px;
  margin: auto;
  color: #51731f;
  position: relative;
  left: 5em;
}

.contact-form input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ebebeb;
 
}

.contact-form button {
  background: #0a2740;
  color: white;
  border: none;
  padding: 0.8em;
  border-radius: 2em;
  width: 10em;
  font-weight: bold;
  font-size: 1em;
}
.contact-form button:hover {
  background-color: #6a7ea6;
}

.contact-form img {
  width: 20%;
  float: right;
  position: relative;
  right: 10em;
  margin-bottom: 1em;

}



/* ///// CUSTOMER SERVICE BANNER/SEARCH //////// */
.customer-search-area {
  background-color: #031c26;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
}

.customer-search-area input {
  width: 500px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

/* ///// CHECKOUT PAGE STYLES ///// */

.cart div {
  border: none;
  max-width: 100%;
}

section.cart {
  width: 0 auto;
  margin: auto;
  display: flex;
  margin-top: 3em;
  margin-left: 2em;
}

.items {
  background-color: #ebebeb;
}

.items img {
  background-color: white;
  padding: 1em;
  width: 150px;
  height: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 2em;
  margin-right: 1em;
}

.item {
  display: flex;
  margin-bottom: 20px;
  background-color: #ebebeb;
  padding: 2em;
}

.item-details {
  margin-left: 10px;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cost-container {
  margin-left: 5em;
  background-color: #031c26;
  border-radius: none;
  padding: 2em;
  width: 250px;
  color: white;
}

.cost-container a {
  padding: 1em;
  border-radius: 2em;
  color: white;
  font-weight: bold;
  background-color: #51731f;
  text-decoration: none;
  display: flex;
}

/* ///// BILLING FORM STYLES ///// */

.billing-form {
  margin-top: 20px;
  background-color: #ebebeb;
  border: none;
  padding: 2em;
  border-radius: 2em;
  width: 80%;
}

.billing-form input {
  border: none;
  margin: 1em;
  border-radius: 2em;
}

/* //////CHECKOUT SUCCESS PAGE ///////// */

.checkout-message {
  justify-content: center;
  text-align: center;
  border-bottom: solid 2px lightgrey;
}

.checkout-message h1 {
  color: #51731f;
  font-size: 3em;
}

.checkout-message span {
  font-size: 2em;
  font-weight: bold;
  color: #6a7ea6;
}

.checkout-message p .bolder {
  font-weight: bold;
}

.socialmedia-message {
  justify-content: center;
  text-align: center;
}

.socialmedia-message h2 {
  color: #6a7ea6;
  font-size: 2em;
}

.socialmedia-message i {
  display: inline-block;
  scale: 400%;
  margin: 4em;
  color: #6a7ea6;
}

/* Footer styles */

.footer {
  background-color: #031c26;
  color: white;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 60px;
  justify-content: center;
  text-align: center;
  margin-top: 5em;
}

.footer li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}
.footer li i {
  margin-right: 1em;
  scale: 120%;
}

.footer-links {
  display: flex;
  text-decoration: none;
  justify-content: center;
  text-align: left;
  font-size: 1.1em;
}

.footer-links h2 {
  text-align: left;
}

.footer-links li {
  list-style: none;
  margin: 2.2em 0 2.5em 0;
  text-align: left;
  width: 20em;
}

.footer-links span {
  color: #6a7ea6;
}

.footer-newsletter {
  position: relative;
  top: -10em;
  left: 5em;
}

.footer-newsletter input {
  border-radius: 1.2em;
  border: none;
}

input[type="text"] {
  width: 35em;
  height: 2.8em;
  padding-right: 50px;
  text-align: left;
}

input[type="submit"] {
  margin-left: -96px;
  height: 2.5em;
  width: 95px;
  background: #51731f;
  color: white;
  border: 0;
  -webkit-appearance: none;
  font-weight: bold;
  font-size: 0.8em;
}

.footer-address p {
  text-align: right;
}
